* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    line-height: 1px;
    direction: ltr;
    -webkit-text-size-adjust: none;
}

/* Header */
.dd {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.dd__p {
    margin: 0 auto;
    position: relative;
}

#P1 {
    height: 122px;
}

#P1 .dd__p__bg {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(225, 203, 195));
    background-color: initial;
    background-size: initial;
    background-origin: initial;
    background-position: initial;
    background-repeat: initial;
    background-attachment: initial;
}

.dd__p .dd__p__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    display: block;
}

.dd__container {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.dd__p .dd__container {
    width: 960px;
}

.dd__anh .dd__anh__bg {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.dd__yt {
    position: absolute;
}

.dd__anh {

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#anh1,
#anh1 .dd__anh .dd__anh__bg {
    height: 122px;
    width: 122px;
}

#anh1 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/images-removebg-preview-20230418064105-ccqbb.png);
}

#md1 .dd__md {
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(1, 1, 1);
    text-align: center;
}

#md2 .dd__md {
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(1, 1, 1);
    text-align: center;
}

.dd__dv {
    width: 100%;
    display: inline-block;
    word-break: break-word;
}

#dv1,
#dv2,
#dv3,
#dv4 {
    width: 197px;
}

#dv1 .dd__dv,
#dv2 .dd__dv,
#dv3 .dd__dv,
#dv4 .dd__dv {
    font-size: 14px;
    text-align: right;
    font-family: serif;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(1, 1, 1);
}

#dv1 {
    top: 15px;
    left: 905px;
}

#dv2 {
    top: 37px;
    left: 905px;
}

#dv3 {
    top: 83px;
    left: 905px;
}

#dv4 {
    top: 60px;
    left: 905px;
}

/* Section P2 */

#P2 {
    height: 1848px;
}

#P2 .dd__p__bg {
    background-image: url(../img/background/340840073_1351360512308842_6098294307609843376_n-20230412123607-dfsfn.jpg);
}

#P2 .dd__p__bg,
#P3 .dd__p__bg {
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.25;
}

#n0 {
    width: 1235px;
    height: 1765px;
    top: 77px;
    left: 431px;
}

#h0 {
    top: 0;
    left: 0;
    width: 1235px;
    height: 1765px;
}

#h0 .dd__h {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 15px 20px -15px;
    border-radius: 0px;
    opacity: 1;
    filter: blur(22px);
}

.dd__n {
    position: absolute;
    width: 100%;
    height: 100%;
}

#n1 {
    width: 2867px;
    height: 46px;
    top: -1px;
    left: -963px;
}

#h1 .dd__h {
    background-color: rgb(3, 92, 55);
    border-radius: 0;
}

#h1 {
    width: 2867px;
    height: 36px;
    top: 1px;
    left: 0px;
}

.dd__h {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dd__ct {
    transition: all 2.5s linear 0s;
}

#md3 {
    width: 120px;
    top: 1px;
    left: 1425px;
}

#md3 .dd__md,
#md4 .dd__md,
#md5 .dd__md,
#md6 .dd__md {
    font-size: 23px;
    font-family: serif;
    font-weight: bold;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: left;
}

#md3:hover,
#md4:hover,
#md5:hover,
#md6:hover {
    background: none;
    background-color: rgba(244, 253, 3, 1.0);
    height: 36px;
    opacity: 1;
}

.dd__md {
    width: 100%;
    display: inline-block;
    word-break: break-word;
    background-size: cover;
    background-position: center center;
}

#dk1 {
    left: 1570px;
    top: 0;
    height: 35px;
}

.dd__dk {
    position: relative;
}

#dk1 .dd__dk .dd__dk__container,
#dk2 .dd__dk .dd__dk__container,
#dk3 .dd__dk .dd__dk__container {
    border-top: 0px !important;
    border-right: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    border-left: 3px solid rgb(255, 255, 255);
}

#dk1 .dd__dk,
#dk2 .dd__dk,
#dk3 .dd__dk,
#dk5 .dd__dk {
    height: 100%;
    padding: 0px 8px;
}

.dd__dk .dd__dk__container {
    border-bottom: 0 !important;
    border-right: 0 !important;
    width: 100%;
    height: 100%;
}

#md4 {
    width: 305px;
    top: 1px;
    left: 1620px;
}

#dk2 {
    top: 1px;
    left: 1945px;
    height: 35px;
}

#md6 {
    width: 120px;
    top: 1px;
    left: 1984px;
}

#dk3 {
    top: 1px;
    left: 2115px;
    height: 35px;
}

#md5 {
    width: 444px;
    top: 1px;
    left: 2165px;
}

#n2 {
    width: 1189px;
    height: 420px;
    top: 37px;
    left: 453px;
}

#anh2,
#anh2 .dd__anh .dd__anh__bg {
    width: 1189px;
    height: 420px;
    top: 0;
    left: 0;
}

#dk4 {
    top: 27px;
    width: 2468px;
    left: 400px;
}

#dk4 .dd__dk {
    height: 100%;
    padding: 8px 0px;
}

#dk4 .dd__dk .dd__dk__container {
    border-top: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-left: 0px !important;
}

#anh2 .dd__anh .dd__anh__bg {
    background-image: url(../img/background/bannerchinh-thuc-cong-bo-lich-thi-tot-nghiep-nam-2022-6659-20221115092719-lc9bh.jpg);
}

#cn1 {
    width: 590px;
    height: 105px;
    top: 270px;
    left: 590px;
}

#cn1.dd__hh .dd__cn {
    animation-name: healer;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes healer {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#cn1 .dd__cn {
    border-radius: 22px;
}

.dd__cn {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cn1 .dd__cn .dd__cn__bg {
    background-color: rgb(248, 3, 129);
}

.dd__cn .dd__cn__bg {
    height: 100%;
    width: 100%;
    pointer-events: none;
    transition: inherit;
}

#cn__c1 {
    top: 9px;
    left: 0px;
    width: 587px;
}

.dd__cn .dd__cn__md {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    display: table;
}

#cn__c1 .dd__md {
    font-size: 28px;
    font-family: 'Trirong', serif;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    text-align: center;
}

.dd__cn .dd__cn__md .dd__md {
    display: table-cell;
    vertical-align: middle;
}

#n3 {
    width: 1105px;
    height: 188px;
    top: 478px;
    left: 485px;
}

#dv6 {
    position: relative;
    width: 415px;
    left: 29px;
    top: 0;
}

#dv6 .dd__dv {
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

#dv6 .dd__yt {
    position: absolute;
    bottom: 3px;
    left: -28px;
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid rgb(250, 69, 135);
}

#dv7 {
    width: 890px;
    left: 30px;
    top: 30px;
}

#dv7 .dd__dv {
    font-family: serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: justify;
}

#n4 {
    width: 1075px;
    height: 120px;
    top: 70px;
    left: 30px;
}

#h4 {
    width: 1075px;
    height: 120px;
    top: 0;
    left: 0;
}

#h4 .dd__h {
    background-color: rgb(226, 220, 220);
    border-radius: 0px;
}

#anh3 {
    top: 15px;
    left: 966px;
}

#anh3,
#anh3 .dd__anh .dd__anh__bg,
#anh4,
#anh4 .dd__anh .dd__anh__bg,
#anh5,
#anh5 .dd__anh .dd__anh__bg,
#anh6,
#anh6 .dd__anh .dd__anh__bg,
#anh7,
#anh7 .dd__anh .dd__anh__bg,
#anh8,
#anh8 .dd__anh .dd__anh__bg,
#anh9,
#anh9 .dd__anh .dd__anh__bg,
#anh10,
#anh10 .dd__anh .dd__anh__bg {
    width: 75px;
    height: 45px;
}

#anh3 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/duc-20230425013552-roi0d.png);
}

#md7 {
    width: 80px;
    top: 69.5px;
    left: 961.369px;
}

#md7 .dd__dv,
#md8 .dd__dv,
#md9 .dd__dv,
#md10 .dd__dv,
#md11 .dd__dv,
#md12 .dd__dv,
#md13 .dd__dv,
#md14 .dd__dv {
    font-family: serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: center
}

#anh4 {
    top: 15px;
    left: 150px;
}

#anh4 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/tq-20230412071636-c2flf.png);
}

#md8 {
    width: 98px;
    top: 70px;
    left: 140px;
}

#anh5 {
    top: 15px;
    left: 30px;
}

#anh5 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/hoa-ky-20230412071636-gl5du.png);
}

#md9 {
    width: 98px;
    top: 70px;
    left: 18px;
}

#anh6 {
    top: 15px;
    left: 280px;
}

#anh6 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/qk-nhat-20230412072208-kpsxv.png);
}

#md10 {
    width: 98px;
    top: 70px;
    left: 270px;
}

#anh7 {
    top: 15px;
    left: 410px;
}

#anh7 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/han-20230412071636-abw45.png);
}

#md11 {
    width: 98px;
    top: 70px;
    left: 400px;
}

#anh8 {
    top: 15px;
    left: 540px;
}

#anh8 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/uc-1-20230412071951-y7f0j.png);
}

#md12 {
    width: 98px;
    top: 70px;
    left: 528px;
}

#anh9 {
    top: 15px;
    left: 675px;
}

#anh9 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/anh-20230412071636-ctsus.jpg);
}

#md13 {
    width: 98px;
    top: 70px;
    left: 662px;
}

#anh10 {
    top: 15px;
    left: 810px;
}

#anh10 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/canada2-20230412072812-v3ago.png);
}

#md14 {
    width: 98px;
    top: 70px;
    left: 798px;
}

#n5 {
    width: 1104px;
    height: 415px;
    top: 691px;
    left: 485px;
}

#dv8 {
    position: relative;
    width: 415px;
    left: 29px;
    top: 0;
}

#dv8 .dd__dv {
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

#dv8 .dd__yt {
    position: absolute;
    bottom: 3px;
    left: -28px;
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid rgb(250, 69, 135);
}

#n6 {
    width: 418px;
    height: 85px;
    top: 45px;
    left: 29px;
}

#dv9 {
    width: 223px;
    top: 5px;
    left: 0px;
}

#dv9 .dd__dv,
#dv11 .dd__dv,
#dv12 .dd__dv,
#dv14 .dd__dv,
#dv16 .dd__dv,
#dv17 .dd__dv,
#dv20 .dd__dv {
    font-family: serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

#md15 {
    width: 196px;
    left: 55px;
    top: 0px;
}

#md15 .dd__md,
#md16 .dd__md,
#md17 .dd__md,
#md18 .dd__md,
#md19 .dd__md,
#md20 .dd__md  {
    font-family: 'Sriracha', 'cursive';
    font-size: 21px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(185, 3, 69);
    text-align: left;
}

#dv10 {
    width: 418px;
    top: 34px;
    left: 0px;
}

#dv10 .dd__dv,
#dv13 .dd__dv,
#dv15 .dd__dv,
#dv18 .dd__dv,
#dv21 .dd__dv,
#dv24 .dd__dv {
    font-family: serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: justify;
}

#n7 {
    width: 510px;
    height: 101px;
    top: 45px;
    left: 594px;
}

#dv11 {
    width: 65px;
    top: 5px;
    left: 0px;
}

#dv12 {
    top: 4px;
    width: 216px;
    left: 180px;
}

#md16 {
    width: 110px;
    left: 65px;
    top: 0;
}

#dv13 {
    width: 510px;
    top: 29px;
    left: 0;
}

#n8 {
    width: 415px;
    height: 106px;
    top: 168px;
    left: 29px;
}

#dv14 {
    width: 116px;
    top: 5px;
    left: 0px;
}

#md17 {
    width: 94px;
    left: 72px;
    top: 0;
}

#dv15 {
    width: 415px;
    top: 34px;
    left: 0;
}

#n9 {
    width: 510px;
    height: 82px;
    top: 173px;
    left: 594px;
}

#n10 {
    width: 510px;
    height: 82px;
}

#dv16 {
    width: 79px;
    top: 5px;
    left: 0px
}

#md18 {
    width: 111px;
    top: 0px;
    left: 79px;
}

#dv17 {
    width: 134px;
    left: 180px;
    top: 5px;
}

#dv18 {
    width: 510px;
    top: 34px;
    left: 0px;
}

#dv19 {
    width: 92px;
    top: 62px;
    left: 115px;
}

#dv19 .dd__dv {
    font-size: 13px;
    font-family: 'Trirong', serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
    text-align: justify;
}

#n11 {
    width: 297px;
    height: 77px;
    top: 309px;
    left: 25px;
}

#dv20 {
    width: 166px;
    top: 5px;
    left: 0px;
}

#md19 {
    width: 94px;
    left: 90px;
    top: 0;
}

#dv21 {
    width: 297px;
    top: 29px;
    left: 0px;
}
#dv22 {
    width: 92px;
    top: 58px;
    left: 127px;
}
#dv22 .dd__dv {
    font-family: 'Trirong', serif;
    font-size: 13px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
    text-align: justify;
}
#n12 {
    width: 510px;
    height: 106px;
    top: 309px;
    left: 594px;
}
#dv23 {
    width: 209px;
    top: 5px;
    left: 0px;
}
#dv23 .dd__dv {
    font-family: 'Trirong', serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}
#md20 {
    width: 148px;
    left: 190px;
    top: 0;
}
#dv24 {
    width: 510px;
    top: 34px;
    left: 0px;
}
#n13{
    width: 1105px;
    height: 550px;
    top: 1130px;
    left: 485px;
}

#dv25 {
    position: relative;
    width: 415px;
    left: 29px;
    top: 0;
}

#dv25 .dd__dv {
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

#dv25 .dd__yt {
    position: absolute;
    bottom: 3px;
    left: -28px;
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid rgb(250, 69, 135);
}
#k1 {
    width: 280px;
    height: 228px;
    top: 65px;
}
#anh11 {
    width: 85px;
    height: 83px;
    left: 95px;
}
#anh11 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/dai-hoc-kien-hanh-20230412081506-pgx7h.jpg);
}
#dv26 {
    top: 95px;
    left: 8px;
}
#dv26 .dd__dv,
#dv27 .dd__dv,
#dv29 .dd__dv,
#dv31 .dd__dv,
#dv32 .dd__dv,
#dv33 .dd__dv,
#dv34 .dd__dv,
#dv35 .dd__dv{
    font-size: 17px;
    font-family: serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: justify;
}
#k2 {
    width: 280px;
    height: 228px;
    top: 65px;
    left: 295px;
}
#anh12 {
    width: 214px;
    height: 52px;
    top: 15px;
    left: 38px;
}
#anh12 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/cong-ty-lawson-20230412081506-92zay.jpg);
}
#n14 {
    width: 228px;
    height: 109px;
    top: 93px;
    left: 33px;
}

#dv28 {
    width: 142px;
    top: 85px;
    left: 40px;
}
#dv28 .dd__dv,
#dv30 .dd__dv {
    font-family: 'Trirong', serif;
    font-size: 15px;
    line-height: 1.6;
    color: rgb(1, 133, 1);
    text-align: justify;
}

#k3 {
    width: 280px;
    height: 228px;
    top: 65px;
    left: 595px;
}
#anh13 {
    width: 160px;
    height: 52px;
    top: 15px;
    left: 38px
}
#anh13 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/thaco-20230412081553-_qo8j.png);
}
#n15 {
    width: 228px;
    height: 109px;
    top: 93px;
    left: 10px;
}
#dv30 {
    width: 142px;
    top: 85px;
    left: 0px;
}
#k4 {
    width: 280px;
    height: 228px;
    left: 870px;
    top: 65px;
}
#anh14 {
    width: 137px;
    height: 91px;
    top: -15px;
    left: 65px;
}
#anh14 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/fpt-20230418092942-2copj.jpg);
}
#dv31 {
    top: 95px;
    left: 8px;
}
#k5 {
    width: 230px;
    height: 228px;
    top: 340px;
}
#anh15 {
    width: 122px;
    height: 81px;
    left: 65px;
}
#anh15 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/vinmec-20230418084142--j8nw.jpg);
}
#dv32 {
    top: 110px;
    left: 8px;
}

#k6 {
    width: 230px;
    height: 228px;
    top: 341px;
    left: 314px;
}
#anh16 {
    width: 119px;
    height: 117px;
    top: -30px;
    left: 52px;
}
#anh16 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/benh-vien-thanh-nhan-20230418084142-cmih1.png);
}
#dv33 {
    top: 110px;
    left: 8px;
}
#k7 {
    width: 230px;
    height: 228px;
    top: 341px;
    left: 602px;
}
#anh17 {
    width: 116px;
    height: 120px;
    top: -25px;
    left: 45px;
}
#anh17 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/metropole-logo-20230418084142-9s_wq.png);
}
#dv34 {
    top: 110px;
    left: 8px;
}

#k8 {
    width: 230px;
    height: 228px;
    top: 341px;
    left: 890px;
}
#anh18 {
    width: 115px;
    height: 113px;
    top: -25px;
    left: 45px;
}
#anh18 .dd__anh .dd__anh__bg {
    background-image: url(../img/logo/hanoi-daewoo-hotel-hanoi-luxury-5-star-hotel-best-hanoi-hotels-20230418084142-yo3vj.jpg);
}
#dv35 {
    top: 110px;
    left: 8px;
}


#P3{
    height: 310px;
}
#P3 .dd__p__bg {
    background-image: url(../img/background/340840073_1351360512308842_6098294307609843376_n-20230412123607-dfsfn.jpg);
}
#n16,#h5 {
    width: 1228px;
    height: 312px;
    left: 219px;
}
#h5 .dd__h:hover {
    opacity: 1;
    filter: blur(0px);
}
#h5 .dd__h {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    opacity: 0.85;
    filter: sepia(31%) blur(15px);
}
#dv36 {
    width: 474px;
    top: 55px;
    left: 305px;
}
#dv36 .dd__dv {
    font-family: serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(244, 1, 1);
}
#md21{
    width: 366px;
    top: 30px;
    left: 972px;
}
#md21 .dd__md {
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(244, 1, 1);
    text-align: center;
}
#h6 {
    top: 100px;
    left: 219px;
    width: 1228px;
    height: 36px;
}
#h6 .dd__h {
    background-color: rgb(217, 217, 217);
    border-radius: 0;
}
#dk5 {
    top: 100px;
    left: 820px;
    height: 205px;
}
#dk5  .dd__dk .dd__dk__container {
    border-top: 0px !important;
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
}

#dv37 {
    top: 118px;
    left: 395px;
    width: 319px;
}
#dv37 .dd__dv , #dv38 .dd__dv {
    font-size: 17px;
    font-family: serif;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}
#dv38 {
    top: 118px;
    left: 978px;
    width: 301px;
}
#dv39 {
    width: 515px;
    top: 167px;
    left: 300px;
}
#dv39 .dd__dv,
#dv40 .dd__dv{
    font-size: 17px;
    font-family: serif; 
    line-height: 1.6;
    color: rgb(0, 0, 0);
}
#dv40 {
    width: 515px;
    top: 167px;
    left: 900px;
}